<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Friend Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <!--[if IE 5.500]>
    <link rel="stylesheet" href="/css/ie.css"/>
    <![endif]-->
    <!--[if IE 6]>
    <link rel="stylesheet" href="/css/ie.css"/>
    <![endif]-->

</head>
<body>

<div class="w3-bar w3-blue" th:fragment="main">
    <a href="/" class="w3-bar-item w3-button w3-hover-light-blue">Home</a>
    <a href="/findfriends" class="w3-bar-item w3-button w3-hover-light-blue">Find Friends</a>
    <a href="/myfriends" class="w3-bar-item w3-button w3-hover-light-blue">My Friends</a>
    <a href="/myevents" class="w3-bar-item w3-button w3-hover-light-blue">My Events</a>
    <a href="/profile" class="w3-bar-item w3-button w3-right w3-hover-light-blue" th:if="${currentUser == null}">Log in</a>
    <a href="/logout" class="w3-bar-item w3-button w3-right w3-hover-light-blue" th:if="${currentUser != null}">Log out</a>
    <a href="/profile" class="w3-bar-item w3-button w3-right w3-hover-light-blue" th:if="${currentUser != null}" th:text="${currentUser.fullName}">User Name</a>
    <a href="/manage" class="w3-bar-item w3-button w3-right w3-hover-light-blue" th:if="${currentUser != null}">Manage</a>
</div>

</body>
</html>
